<p>RSS Url: <input type="text" [(ngModel)]="RssFeedUrl" (ngModelChange)="rssUrlChange($event)" /></p>

<p>Number of news: <input type="number" [(ngModel)]="RssFeedTake" (ngModelChange)="rssTakeChange($event)" /></p>

<p>Scroll speed: <input type="number" min="0" value="0" step="0.1" [(ngModel)]="SpeedTime" (ngModelChange)="rssTextScrollSpeedChange($event)" /></p>

<button (click)="GenerateRssFeedResultUrl">Get Url</button>

<a href={{ RssFeedResultUrl }}>{{ RssFeedResultUrl }}</a>

<div id='result' [innerHTML]="RssDataInlineText"></div>